@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3> create by</h3>
<div style="margin-bottom:260px">


    <p>keroles atef </p> <br />
    <h4> contact with me</h4>
    <a target="_blank" href="https://www.facebook.com/kerolesatef200">facebook</a><br /> <br />
    <p>phone number : 01060402713</p>
    <a target="_blank" href="https://www.gmail.com/kerolesatef200">gmail</a>
</div>